<section class="bg-color">
  <div class="containers">
    <div class="title">
      <p>The Best Seller of Hithem</p>

      <h1>Best<span> Seller</span></h1>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">9%</div>
            <div class="label bg-success">pre-order</div>
            <div class="product-container">
              <div class="p" (mouseover)="changeImage($event)"><img src="../assets/Carousel_iPhone14_Blue_Placement01-PreOrder.webp"></div>
              <div class="p" (mouseover)="changeImage($event)"><img src="../assets/o4OjCNmNeOhvsS1P.jpg"></div>
              <div class="p" (mouseover)="changeImage($event)"><img src="../assets/content.vodafone.co.png"></div>
            
          </div>
          <div class="image">
            <img src="{{url}}">
          </div>
          <div class="card-line"></div>
          <div class="card-item">
            <ul>
              <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
              <li><a href=""><i class="fa fa-heart"></i></a></li>
              <li><a href=""><i class="fa fa-search"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="content">
          <a href="">incidid Tongue Bar</a>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <p class="money">$81.00 <span class="old-price">$80.00</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-main">
          <div class="discount">9%</div>
          <div class="label bg-success">pre-order</div>
          <div class="product-container">
            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/Carousel_iPhone14_Blue_Placement01-PreOrder.webp"></div>
            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/o4OjCNmNeOhvsS1P.jpg"></div>
            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/content.vodafone.co.png"></div>
          
        </div>
        <div class="image">
          <img src="{{url}}">
        </div>
        <div class="card-line"></div>
        <div class="card-item">
          <ul>
            <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
            <li><a href=""><i class="fa fa-heart"></i></a></li>
            <li><a href=""><i class="fa fa-search"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="content">
        <a href="">incidid Tongue Bar</a>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <p class="money">$81.00 <span class="old-price">$80.00</span></p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-main">
        <div class="discount">9%</div>
        <div class="label bg-success">pre-order</div>
        <div class="product-container">
          <div class="p" (mouseover)="changeImage($event)"><img src="../assets/Carousel_iPhone14_Blue_Placement01-PreOrder.webp"></div>
          <div class="p" (mouseover)="changeImage($event)"><img src="../assets/o4OjCNmNeOhvsS1P.jpg"></div>
          <div class="p" (mouseover)="changeImage($event)"><img src="../assets/content.vodafone.co.png"></div>
        
      </div>
      <div class="image">
        <img src="{{url}}">
      </div>
      <div class="card-line"></div>
      <div class="card-item">
        <ul>
          <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
          <li><a href=""><i class="fa fa-heart"></i></a></li>
          <li><a href=""><i class="fa fa-search"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="content">
      <a href="">incidid Tongue Bar</a>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
      <p class="money">$81.00 <span class="old-price">$80.00</span></p>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="card">
    <div class="card-main">
      <div class="discount">9%</div>
      <div class="label bg-success">pre-order</div>
      <div class="product-container">
        <div class="p" (mouseover)="changeImage($event)"><img src="../assets/Carousel_iPhone14_Blue_Placement01-PreOrder.webp"></div>
        <div class="p" (mouseover)="changeImage($event)"><img src="../assets/o4OjCNmNeOhvsS1P.jpg"></div>
        <div class="p" (mouseover)="changeImage($event)"><img src="../assets/content.vodafone.co.png"></div>
      
    </div>
    <div class="image">
      <img src="{{url}}">
    </div>
    <div class="card-line"></div>
    <div class="card-item">
      <ul>
        <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
        <li><a href=""><i class="fa fa-heart"></i></a></li>
        <li><a href=""><i class="fa fa-search"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <a href="">incidid Tongue Bar</a>
    <div class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </div>
    <p class="money">$81.00 <span class="old-price">$80.00</span></p>
  </div>
</div>
</div>
  </div>
  </div>
</section>